<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>牌局结束1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1774},{270,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,448}}</string>
                <key>sourceSize</key>
                <string>{270,448}</string>
            </dict>
            <key>牌局结束2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1774},{270,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,448}}</string>
                <key>sourceSize</key>
                <string>{270,448}</string>
            </dict>
            <key>结算1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{1148,540}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{1148,540}}</string>
                <key>sourceSize</key>
                <string>{1158,544}</string>
            </dict>
            <key>结算2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1148,620}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{1148,620}}</string>
                <key>sourceSize</key>
                <string>{1162,632}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settlement.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53c12ad036ecdb1fe13037c2957c9dd4:1/1$</string>
            <key>textureFileName</key>
            <string>settlement.png</string>
        </dict>
    </dict>
</plist>
