<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active-info-title-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,838},{113,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,24}}</string>
                <key>sourceSize</key>
                <string>{113,24}</string>
            </dict>
            <key>bg_huodong.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1003,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1003,488}}</string>
                <key>sourceSize</key>
                <string>{1003,488}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,838},{167,146}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{167,146}}</string>
                <key>sourceSize</key>
                <string>{189,150}</string>
            </dict>
            <key>click_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{156,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,178}}</string>
                <key>sourceSize</key>
                <string>{156,178}</string>
            </dict>
            <key>prize1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,926},{78,72}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{78,72}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>prize2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,836},{88,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>prize3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,928},{88,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>prize4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,953},{68,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{68,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>prize5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,838},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>right_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,492},{670,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,342}}</string>
                <key>sourceSize</key>
                <string>{670,342}</string>
            </dict>
            <key>tuoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,836},{280,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{280,42}}</string>
                <key>sourceSize</key>
                <string>{288,44}</string>
            </dict>
            <key>xiexie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{344,332}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,34},{344,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activety.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bc69a8998fa91094bda26c2b239ba0:1/1$</string>
            <key>textureFileName</key>
            <string>activety.png</string>
        </dict>
    </dict>
</plist>
