<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Oval.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{797,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{797,12}}</string>
                <key>sourceSize</key>
                <string>{797,12}</string>
            </dict>
            <key>bg_dialogBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,287}}</string>
                <key>sourceSize</key>
                <string>{558,287}</string>
            </dict>
            <key>bg_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{306,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,376}}</string>
                <key>sourceSize</key>
                <string>{306,376}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,572},{165,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,62}}</string>
                <key>sourceSize</key>
                <string>{165,62}</string>
            </dict>
            <key>btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,940},{165,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,61}}</string>
                <key>sourceSize</key>
                <string>{165,61}</string>
            </dict>
            <key>btn_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,940},{165,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,61}}</string>
                <key>sourceSize</key>
                <string>{165,61}</string>
            </dict>
            <key>btn_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{211,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,64}}</string>
                <key>sourceSize</key>
                <string>{211,64}</string>
            </dict>
            <key>label_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,664},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,739},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>on.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,774},{160,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,52}}</string>
                <key>sourceSize</key>
                <string>{160,52}</string>
            </dict>
            <key>store房卡.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,242},{163,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,123}}</string>
                <key>sourceSize</key>
                <string>{163,123}</string>
            </dict>
            <key>table_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{400,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,60}}</string>
                <key>sourceSize</key>
                <string>{400,60}</string>
            </dict>
            <key>table_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,572},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>table_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{238,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,120}}</string>
                <key>sourceSize</key>
                <string>{238,120}</string>
            </dict>
            <key>公告.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,901},{83,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>创建房间.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,491},{171,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,34}}</string>
                <key>sourceSize</key>
                <string>{171,34}</string>
            </dict>
            <key>协议.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,936},{84,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,35}}</string>
                <key>sourceSize</key>
                <string>{84,35}</string>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,836},{84,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,35}}</string>
                <key>sourceSize</key>
                <string>{84,35}</string>
            </dict>
            <key>帮助.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,936},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>开赛人数.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,801},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>活动.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,836},{84,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,35}}</string>
                <key>sourceSize</key>
                <string>{84,35}</string>
            </dict>
            <key>红包.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,407},{135,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,163}}</string>
                <key>sourceSize</key>
                <string>{135,163}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,404},{85,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,35}}</string>
                <key>sourceSize</key>
                <string>{85,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cocos3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16fb165c9da54d53bc2e2942c4fa785:1/1$</string>
            <key>textureFileName</key>
            <string>cocos3.png</string>
        </dict>
    </dict>
</plist>
