<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>567306524375761796.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,2},{227,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,72}}</string>
                <key>sourceSize</key>
                <string>{227,72}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{772,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,81}}</string>
                <key>sourceSize</key>
                <string>{772,81}</string>
            </dict>
            <key>bitmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,537},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,786},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>btn_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,714},{200,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,231},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,656},{212,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,120}}</string>
                <key>sourceSize</key>
                <string>{212,120}</string>
            </dict>
            <key>btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{660,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,350}}</string>
                <key>sourceSize</key>
                <string>{660,350}</string>
            </dict>
            <key>cheakbtn_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,861},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>cheakbtn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,603},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>coupon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,305},{135,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,71}}</string>
                <key>sourceSize</key>
                <string>{135,71}</string>
            </dict>
            <key>emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,861},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{38,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{475,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,65}}</string>
                <key>sourceSize</key>
                <string>{475,65}</string>
            </dict>
            <key>key.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,786},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,442},{93,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,50}}</string>
                <key>sourceSize</key>
                <string>{93,50}</string>
            </dict>
            <key>radiobtn_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,861},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>radiobtn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,442},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>ranking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,894},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>ranking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,848},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>ranking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,786},{56,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,44}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,836},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>table_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,786},{200,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,60}}</string>
                <key>sourceSize</key>
                <string>{200,60}</string>
            </dict>
            <key>删除.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,848},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>加入房间.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,904},{171,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,34}}</string>
                <key>sourceSize</key>
                <string>{171,34}</string>
            </dict>
            <key>圆盘.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,354},{430,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,430}}</string>
                <key>sourceSize</key>
                <string>{430,430}</string>
            </dict>
            <key>心缘竞技长春赛区.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,939},{271,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,34}}</string>
                <key>sourceSize</key>
                <string>{271,34}</string>
            </dict>
            <key>心缘长春比赛大厅.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,856},{374,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,46}}</string>
                <key>sourceSize</key>
                <string>{374,46}</string>
            </dict>
            <key>房卡.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,861},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>房卡2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,848},{163,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,122}}</string>
                <key>sourceSize</key>
                <string>{163,122}</string>
            </dict>
            <key>房卡bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,354},{236,300}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,300}}</string>
                <key>sourceSize</key>
                <string>{240,300}</string>
            </dict>
            <key>月赛卡.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,902},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>月赛卡2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,778},{163,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,122}}</string>
                <key>sourceSize</key>
                <string>{163,122}</string>
            </dict>
            <key>本场概况.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,975},{174,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,34}}</string>
                <key>sourceSize</key>
                <string>{174,34}</string>
            </dict>
            <key>比赛大厅列表.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{1072,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1072,140}}</string>
                <key>sourceSize</key>
                <string>{1072,140}</string>
            </dict>
            <key>比赛大厅背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1294,710}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1294,710}}</string>
                <key>sourceSize</key>
                <string>{1294,710}</string>
            </dict>
            <key>比赛注意事项.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,904},{208,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,34}}</string>
                <key>sourceSize</key>
                <string>{208,34}</string>
            </dict>
            <key>活动介绍.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,878},{139,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,34}}</string>
                <key>sourceSize</key>
                <string>{139,34}</string>
            </dict>
            <key>点击btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,656},{102,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{102,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>背包.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,975},{82,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,34}}</string>
                <key>sourceSize</key>
                <string>{82,34}</string>
            </dict>
            <key>重输.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,940},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cocos2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e99321773fa29574316b125a9beed1fd:1/1$</string>
            <key>textureFileName</key>
            <string>cocos2.png</string>
        </dict>
    </dict>
</plist>
