<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{1337,1083},{203,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,89}</string>
                <key>spriteSourceSize</key>
                <string>{1334,89}</string>
                <key>textureRect</key>
                <string>{{1,1083},{1334,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,73}</string>
                <key>spriteSourceSize</key>
                <string>{270,73}</string>
                <key>textureRect</key>
                <string>{{1821,1083},{270,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_regual.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,73}</string>
                <key>spriteSourceSize</key>
                <string>{240,73}</string>
                <key>textureRect</key>
                <string>{{1222,1174},{240,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>createRoomImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{1616,1083},{203,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameMainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joinRoomImgRoomImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{203,276}</string>
                <key>spriteSourceSize</key>
                <string>{203,278}</string>
                <key>textureRect</key>
                <string>{{280,1216},{203,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,56}</string>
                <key>spriteSourceSize</key>
                <string>{218,56}</string>
                <key>textureRect</key>
                <string>{{1297,1288},{218,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,277}</string>
                <key>spriteSourceSize</key>
                <string>{203,277}</string>
                <key>textureRect</key>
                <string>{{943,1174},{203,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>name_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,26}</string>
                <key>spriteSourceSize</key>
                <string>{113,26}</string>
                <key>textureRect</key>
                <string>{{1602,1362},{113,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>上面毛玻璃.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,95}</string>
                <key>spriteSourceSize</key>
                <string>{1334,95}</string>
                <key>textureRect</key>
                <string>{{1923,1},{1334,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>公告_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{940,40}</string>
                <key>spriteSourceSize</key>
                <string>{940,40}</string>
                <key>textureRect</key>
                <string>{{1,1174},{940,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{1381,1346},{65,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,78}</string>
                <key>spriteSourceSize</key>
                <string>{67,78}</string>
                <key>textureRect</key>
                <string>{{722,1216},{67,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>帮助.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{640,1275},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>战况.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,80}</string>
                <key>textureRect</key>
                <string>{{640,1216},{57,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>房卡.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,28}</string>
                <key>spriteSourceSize</key>
                <string>{126,28}</string>
                <key>textureRect</key>
                <string>{{1887,1374},{126,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排名.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{558,1276},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>提现.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{1297,1346},{56,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>比赛大厅btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,277}</string>
                <key>spriteSourceSize</key>
                <string>{201,277}</string>
                <key>textureRect</key>
                <string>{{1,1216},{201,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>活动.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{1717,1362},{57,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>相框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1821,1355},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,80}</string>
                <key>spriteSourceSize</key>
                <string>{58,80}</string>
                <key>textureRect</key>
                <string>{{558,1216},{58,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>通知.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{1517,1288},{86,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,35}</string>
                <key>spriteSourceSize</key>
                <string>{105,35}</string>
                <key>textureRect</key>
                <string>{{1896,1337},{105,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamemain.png</string>
            <key>size</key>
            <string>{2019,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8a4c3a6cebd5ea0a5f2fb91f38fd59:8d61f312da993594f03faa950ff994ed:ddf127d8a6476360f21ebaa35ea4a504$</string>
            <key>textureFileName</key>
            <string>gamemain.png</string>
        </dict>
    </dict>
</plist>
