<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,477},{238,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,334}}</string>
                <key>sourceSize</key>
                <string>{238,334}</string>
            </dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,477},{1334,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,89}}</string>
                <key>sourceSize</key>
                <string>{1334,89}</string>
            </dict>
            <key>button_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,532},{270,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,73}}</string>
                <key>sourceSize</key>
                <string>{270,73}</string>
            </dict>
            <key>button_regual.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,71},{240,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,73}}</string>
                <key>sourceSize</key>
                <string>{240,73}</string>
            </dict>
            <key>createRoomImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,474},{238,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,334}}</string>
                <key>sourceSize</key>
                <string>{238,334}</string>
            </dict>
            <key>gameMainBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{760,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,428}}</string>
                <key>sourceSize</key>
                <string>{760,428}</string>
            </dict>
            <key>joinRoomImgRoomImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,714},{239,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,329}}</string>
                <key>sourceSize</key>
                <string>{239,329}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1813},{218,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,56}}</string>
                <key>sourceSize</key>
                <string>{218,56}</string>
            </dict>
            <key>name_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1813},{113,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,26}}</string>
                <key>sourceSize</key>
                <string>{113,26}</string>
            </dict>
            <key>上面毛玻璃.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{1334,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,95}}</string>
                <key>sourceSize</key>
                <string>{1334,95}</string>
            </dict>
            <key>公告_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{940,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,40}}</string>
                <key>sourceSize</key>
                <string>{940,40}</string>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1897},{65,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,81}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>帮助.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,556},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>战况.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,474},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>房卡.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1813},{126,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,28}}</string>
                <key>sourceSize</key>
                <string>{126,28}</string>
            </dict>
            <key>排名.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,474},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,79}}</string>
                <key>sourceSize</key>
                <string>{56,79}</string>
            </dict>
            <key>提现.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1813},{56,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>比赛大厅btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,146},{239,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,329}}</string>
                <key>sourceSize</key>
                <string>{239,329}</string>
            </dict>
            <key>活动.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1813},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,82}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
            <key>相框.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1980},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1980},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>通知.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1928},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>金币.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1941},{105,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,35}}</string>
                <key>sourceSize</key>
                <string>{105,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamemain.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6204570b236266999a68945a163c54a:1/1$</string>
            <key>textureFileName</key>
            <string>gamemain.png</string>
        </dict>
    </dict>
</plist>
