<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>更多.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,111}}</string>
                <key>sourceSize</key>
                <string>{282,111}</string>
            </dict>
            <key>更多2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,435},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>更多icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{63,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,94}}</string>
                <key>sourceSize</key>
                <string>{63,100}</string>
            </dict>
            <key>邀请好友.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{57,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,74}}</string>
                <key>sourceSize</key>
                <string>{57,76}</string>
            </dict>
            <key>邀请好友1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{96,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,38}}</string>
                <key>sourceSize</key>
                <string>{96,38}</string>
            </dict>
            <key>领红包.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallBottombtn.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86826cafc3f099031a69f371d3b7ac02:1/1$</string>
            <key>textureFileName</key>
            <string>hallBottombtn.png</string>
        </dict>
    </dict>
</plist>
