<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>麻友圈.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,329}}</string>
                <key>sourceSize</key>
                <string>{239,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo&amp;icons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa8f299a26e1fb9e4d3efeefcf6ca0e2:1/1$</string>
            <key>textureFileName</key>
            <string>logo&amp;icons.png</string>
        </dict>
    </dict>
</plist>
