<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1872},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2032},{10,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{10,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2510,2015},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>254533782845382748.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{410,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,126}}</string>
                <key>sourceSize</key>
                <string>{410,126}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,2015},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1872},{20,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1872},{20,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>527252950458599826.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>540466238156286020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{574,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,294}}</string>
                <key>sourceSize</key>
                <string>{574,294}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1872},{20,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2458,2025},{18,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2426,2025},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,1872},{20,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Combined Shape.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1872},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Combined Shape0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1872},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>WechatIMG9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2619,1311},{212,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,55}}</string>
                <key>sourceSize</key>
                <string>{212,55}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2509,802},{342,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,117}}</string>
                <key>sourceSize</key>
                <string>{342,117}</string>
            </dict>
            <key>left1默认.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1790},{342,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,76}}</string>
                <key>sourceSize</key>
                <string>{342,76}</string>
            </dict>
            <key>list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2509,2},{798,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,65}}</string>
                <key>sourceSize</key>
                <string>{798,65}</string>
            </dict>
            <key>text分享.png</key>
            <dict>
                <key>frame</key>
                <string>{{2736,1759},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>text创建房间.png</key>
            <dict>
                <key>frame</key>
                <string>{{2550,1539},{219,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,69}}</string>
                <key>sourceSize</key>
                <string>{219,69}</string>
            </dict>
            <key>text加入房间.png</key>
            <dict>
                <key>frame</key>
                <string>{{2550,1314},{223,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,67}}</string>
                <key>sourceSize</key>
                <string>{223,67}</string>
            </dict>
            <key>text商城.png</key>
            <dict>
                <key>frame</key>
                <string>{{2675,1879},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>text帮助.png</key>
            <dict>
                <key>frame</key>
                <string>{{2696,1759},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>text战况.png</key>
            <dict>
                <key>frame</key>
                <string>{{2725,1591},{58,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,38}</string>
            </dict>
            <key>text排名.png</key>
            <dict>
                <key>frame</key>
                <string>{{2675,1820},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>text提现.png</key>
            <dict>
                <key>frame</key>
                <string>{{2685,1591},{58,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,38}</string>
            </dict>
            <key>text比赛大厅.png</key>
            <dict>
                <key>frame</key>
                <string>{{2485,1790},{223,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,73}}</string>
                <key>sourceSize</key>
                <string>{223,73}</string>
            </dict>
            <key>text活动.png</key>
            <dict>
                <key>frame</key>
                <string>{{2635,1879},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>text背包.png</key>
            <dict>
                <key>frame</key>
                <string>{{2715,1818},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>text设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{2699,1938},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>text通知.png</key>
            <dict>
                <key>frame</key>
                <string>{{2635,1820},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>text麻友圈.png</key>
            <dict>
                <key>frame</key>
                <string>{{2509,1146},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,1628},{62,68}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{62,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>加入房间.png</key>
            <dict>
                <key>frame</key>
                <string>{{2037,1868},{387,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,174}}</string>
                <key>sourceSize</key>
                <string>{387,174}</string>
            </dict>
            <key>周赛1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2699,1996},{39,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{39,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>周赛2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2740,1651},{39,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{39,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>周赛3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2685,1651},{39,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{39,53}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>商城.png</key>
            <dict>
                <key>frame</key>
                <string>{{2316,1790},{62,74}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>头像框.png</key>
            <dict>
                <key>frame</key>
                <string>{{2615,1960},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>帮助.png</key>
            <dict>
                <key>frame</key>
                <string>{{2684,1698},{58,59}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,59}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>弹层bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1338},{1140,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,570}}</string>
                <key>sourceSize</key>
                <string>{1140,570}</string>
            </dict>
            <key>战况.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1790},{54,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>战况列表.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1910},{792,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,120}}</string>
                <key>sourceSize</key>
                <string>{792,120}</string>
            </dict>
            <key>战况详情.png</key>
            <dict>
                <key>frame</key>
                <string>{{2625,1146},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>房卡.png</key>
            <dict>
                <key>frame</key>
                <string>{{2426,1790},{233,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,57}}</string>
                <key>sourceSize</key>
                <string>{233,57}</string>
            </dict>
            <key>房卡card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,1960},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>排名.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,1790},{56,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>提现.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1790},{46,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>比赛大厅.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1338},{532,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,368}}</string>
                <key>sourceSize</key>
                <string>{532,368}</string>
            </dict>
            <key>活动.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,1698},{61,59}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>登录.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>约局.png</key>
            <dict>
                <key>frame</key>
                <string>{{2580,1146},{163,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,43}}</string>
                <key>sourceSize</key>
                <string>{163,43}</string>
            </dict>
            <key>背包.png</key>
            <dict>
                <key>frame</key>
                <string>{{2380,1790},{44,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{44,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{2635,1759},{59,59}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>跑马灯.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{1336,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1336,40}}</string>
                <key>sourceSize</key>
                <string>{1336,40}</string>
            </dict>
            <key>退出登录.png</key>
            <dict>
                <key>frame</key>
                <string>{{2621,1525},{101,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,45}}</string>
                <key>sourceSize</key>
                <string>{101,45}</string>
            </dict>
            <key>选中.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1910},{407,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,120}}</string>
                <key>sourceSize</key>
                <string>{407,120}</string>
            </dict>
            <key>通知.png</key>
            <dict>
                <key>frame</key>
                <string>{{2668,1525},{64,57}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{64,57}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>通知背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1338},{738,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,450}}</string>
                <key>sourceSize</key>
                <string>{738,450}</string>
            </dict>
            <key>领取奖品.png</key>
            <dict>
                <key>frame</key>
                <string>{{2560,1760},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>首页底部bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2402,2},{1334,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,105}}</string>
                <key>sourceSize</key>
                <string>{1334,105}</string>
            </dict>
            <key>首页顶部透明框.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1336,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1336,100}}</string>
                <key>sourceSize</key>
                <string>{1336,100}</string>
            </dict>
            <key>麻友圈.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1872},{418,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,174}}</string>
                <key>sourceSize</key>
                <string>{418,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_hall.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9767eac5f33235eba893606e5624c8:1/1$</string>
            <key>textureFileName</key>
            <string>new_hall.png</string>
        </dict>
    </dict>
</plist>
