<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{983,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{983,513}}</string>
                <key>sourceSize</key>
                <string>{983,513}</string>
            </dict>
            <key>listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{228,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,401}}</string>
                <key>sourceSize</key>
                <string>{228,401}</string>
            </dict>
            <key>subbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,517},{147,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,212}}</string>
                <key>sourceSize</key>
                <string>{147,212}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{326,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,50}}</string>
                <key>sourceSize</key>
                <string>{326,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>packgelist.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a27ba709f0966decc62e6c00e0bb2691:1/1$</string>
            <key>textureFileName</key>
            <string>packgelist.png</string>
        </dict>
    </dict>
</plist>
