<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qinyou_corner_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{72,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>qinyou_corner_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1540},{72,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>qinyou_corner_xianshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1464},{74,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>yichang_image_jinbidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{380,186}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{380,186}}</string>
                <key>sourceSize</key>
                <string>{398,188}</string>
            </dict>
            <key>优惠卷2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1078,250}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,66},{1078,250}}</string>
                <key>sourceSize</key>
                <string>{1334,378}</string>
            </dict>
            <key>优惠卷icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{116,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>红包.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1078,250}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,66},{1078,250}}</string>
                <key>sourceSize</key>
                <string>{1334,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>packge.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861a2e07d55acdba49faaeba19099810:1/1$</string>
            <key>textureFileName</key>
            <string>packge.png</string>
        </dict>
    </dict>
</plist>
