<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beiB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{326,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,50}}</string>
                <key>sourceSize</key>
                <string>{326,50}</string>
            </dict>
            <key>share_step.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,577}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,577}}</string>
                <key>sourceSize</key>
                <string>{1024,577}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share_step_.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a56ceb5db1d3b2e9134eddcba18a440a:1/1$</string>
            <key>textureFileName</key>
            <string>share_step_.png</string>
        </dict>
    </dict>
</plist>
