<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,804},{233,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,50}}</string>
                <key>sourceSize</key>
                <string>{233,50}</string>
            </dict>
            <key>list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{870,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{870,140}}</string>
                <key>sourceSize</key>
                <string>{870,140}</string>
            </dict>
            <key>好友列表.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,931},{173,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,34}}</string>
                <key>sourceSize</key>
                <string>{173,34}</string>
            </dict>
            <key>累计领取金额.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{800,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,111}}</string>
                <key>sourceSize</key>
                <string>{800,111}</string>
            </dict>
            <key>详情.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,874},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>邀请.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,856},{198,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,73}}</string>
                <key>sourceSize</key>
                <string>{198,73}</string>
            </dict>
            <key>邀请有礼.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{174,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,35}}</string>
                <key>sourceSize</key>
                <string>{174,35}</string>
            </dict>
            <key>默认头像.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shareImgs.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e104687426147b6ed9f6184d2ee77571:1/1$</string>
            <key>textureFileName</key>
            <string>shareImgs.png</string>
        </dict>
    </dict>
</plist>
