<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>商城页面（房卡）5_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{1011,4}</string>
                <key>spriteSourceSize</key>
                <string>{1015,8}</string>
                <key>textureRect</key>
                <string>{{1,499},{1011,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城页面（房卡）_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,60}</string>
                <key>spriteSourceSize</key>
                <string>{128,60}</string>
                <key>textureRect</key>
                <string>{{1064,365},{128,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商城页面（房卡）_04_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{1061,496}</string>
                <key>spriteSourceSize</key>
                <string>{1109,504}</string>
                <key>textureRect</key>
                <string>{{1,1},{1061,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城页面（房卡）_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{157,215}</string>
                <key>spriteSourceSize</key>
                <string>{161,217}</string>
                <key>textureRect</key>
                <string>{{1064,1},{157,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城页面（房卡）_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,145}</string>
                <key>spriteSourceSize</key>
                <string>{145,145}</string>
                <key>textureRect</key>
                <string>{{1064,218},{145,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城页面（房卡）_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{129,40}</string>
                <key>spriteSourceSize</key>
                <string>{145,42}</string>
                <key>textureRect</key>
                <string>{{1211,218},{129,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商城页面（房卡）_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{118,103}</string>
                <key>spriteSourceSize</key>
                <string>{118,105}</string>
                <key>textureRect</key>
                <string>{{1126,365},{118,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop_all.png</string>
            <key>size</key>
            <string>{1252,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dec950abf303ba224c216ba2ae49b133:bee03c5a54d83283133beb48cf0eaea3:2119ab214c8a08c923168675eac1be26$</string>
            <key>textureFileName</key>
            <string>shop_all.png</string>
        </dict>
    </dict>
</plist>
