<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{137,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,107}}</string>
                <key>sourceSize</key>
                <string>{137,107}</string>
            </dict>
            <key>一键分享按钮.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,231},{328,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,68}}</string>
                <key>sourceSize</key>
                <string>{328,68}</string>
            </dict>
            <key>房卡.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,141},{98,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>获奖标题背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,561},{148,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,41}}</string>
                <key>sourceSize</key>
                <string>{148,41}</string>
            </dict>
            <key>获奖通知背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{909,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{909,567}}</string>
                <key>sourceSize</key>
                <string>{909,567}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Untitled.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b9a315e19bdab3bc3e6942f7bb66654:1/1$</string>
            <key>textureFileName</key>
            <string>Untitled.png</string>
        </dict>
    </dict>
</plist>
