<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{59,84}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>egg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{65,66}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>egg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{59,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{59,70}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>egg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,70},{55,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{55,72}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>egg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,70},{53,66}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{53,66}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>egg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{51,66}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{51,66}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>egg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,63},{45,60}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{45,60}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eggs.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7763aba64720493516c25157826a5a22:1/1$</string>
            <key>textureFileName</key>
            <string>eggs.png</string>
        </dict>
    </dict>
</plist>
