<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2011},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2231,1423},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1843},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>11111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2276,1600},{62,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1843},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2011},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2011},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2011},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2011},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2011},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2011},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2011},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1892},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>_.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2033},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>background-.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1338},{1100,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1100,552}}</string>
                <key>sourceSize</key>
                <string>{1100,552}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{1250,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1250,520}}</string>
                <key>sourceSize</key>
                <string>{1250,520}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2021},{264,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,24}}</string>
                <key>sourceSize</key>
                <string>{264,24}</string>
            </dict>
            <key>background_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1338},{323,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,538}}</string>
                <key>sourceSize</key>
                <string>{323,538}</string>
            </dict>
            <key>background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1338},{323,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,538}}</string>
                <key>sourceSize</key>
                <string>{323,538}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2163,1574},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>loser.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1892},{117,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,195}}</string>
                <key>sourceSize</key>
                <string>{117,195}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1892},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,962},{199,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,158}}</string>
                <key>sourceSize</key>
                <string>{199,158}</string>
            </dict>
            <key>东.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2021},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>东0.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2021},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>信号1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2253,1423},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>信号2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2011},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>准备.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,1337},{290,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,81}}</string>
                <key>sourceSize</key>
                <string>{290,81}</string>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1337},{290,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,81}}</string>
                <key>sourceSize</key>
                <string>{290,81}</string>
            </dict>
            <key>北.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2021},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>北0.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2021},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>单圈结算.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>南.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2021},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>南0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2021},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>吃.png</key>
            <dict>
                <key>frame</key>
                <string>{{2115,1336},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>吃1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,750},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,165}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>听.png</key>
            <dict>
                <key>frame</key>
                <string>{{2071,1629},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>听1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1878},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>头像框.png</key>
            <dict>
                <key>frame</key>
                <string>{{2276,1676},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>宝牌.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1751},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>宝牌背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2188,962},{194,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{194,188}</string>
            </dict>
            <key>庄.png</key>
            <dict>
                <key>frame</key>
                <string>{{2115,1574},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>总得分.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1751},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,38}}</string>
                <key>sourceSize</key>
                <string>{124,38}</string>
            </dict>
            <key>房间号_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1254},{258,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,82}}</string>
                <key>sourceSize</key>
                <string>{258,82}</string>
            </dict>
            <key>房间房号.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{671,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,32}}</string>
                <key>sourceSize</key>
                <string>{671,32}</string>
            </dict>
            <key>手机信号背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1892},{142,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,40}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>托管.png</key>
            <dict>
                <key>frame</key>
                <string>{{2229,1751},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>拉出栏.png</key>
            <dict>
                <key>frame</key>
                <string>{{2390,1240},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>时间方位.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1629},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>杠.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1892},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>杠1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,538},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,165}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>桌布.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>电量1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2223,1711},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>电量2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,1711},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>电量3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2203,1574},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>碰.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1892},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>碰1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1878},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,165}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>聊天.png</key>
            <dict>
                <key>frame</key>
                <string>{{2318,1328},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>胡.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1892},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>胡1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1751},{284,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,265}}</string>
                <key>sourceSize</key>
                <string>{284,265}</string>
            </dict>
            <key>蛋.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1892},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>蛋1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1878},{211,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,166}}</string>
                <key>sourceSize</key>
                <string>{211,166}</string>
            </dict>
            <key>西.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2021},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>西0.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2021},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>解散.png</key>
            <dict>
                <key>frame</key>
                <string>{{2252,1451},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{2374,1158},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>语音.png</key>
            <dict>
                <key>frame</key>
                <string>{{2308,1246},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>语音hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2140,1252},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>赢了.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1337},{412,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,159}}</string>
                <key>sourceSize</key>
                <string>{412,159}</string>
            </dict>
            <key>赢家背景框.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,270},{266,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,52}}</string>
                <key>sourceSize</key>
                <string>{266,52}</string>
            </dict>
            <key>轮到右家.png</key>
            <dict>
                <key>frame</key>
                <string>{{2214,1465},{36,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,95}}</string>
                <key>sourceSize</key>
                <string>{36,95}</string>
            </dict>
            <key>轮到对家.png</key>
            <dict>
                <key>frame</key>
                <string>{{2238,1600},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>轮到左家.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,1614},{36,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,95}}</string>
                <key>sourceSize</key>
                <string>{36,95}</string>
            </dict>
            <key>轮到本家.png</key>
            <dict>
                <key>frame</key>
                <string>{{2226,1562},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>输了.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1892},{400,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,140}}</string>
                <key>sourceSize</key>
                <string>{400,140}</string>
            </dict>
            <key>输家背景框.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{266,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,52}}</string>
                <key>sourceSize</key>
                <string>{266,52}</string>
            </dict>
            <key>过.png</key>
            <dict>
                <key>frame</key>
                <string>{{2115,1465},{107,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,97}</string>
            </dict>
            <key>返回大厅.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,1751},{290,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,81}}</string>
                <key>sourceSize</key>
                <string>{290,81}</string>
            </dict>
            <key>退出.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1254},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>邀请好友.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1254},{290,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,81}}</string>
                <key>sourceSize</key>
                <string>{290,81}</string>
            </dict>
            <key>骰子_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,1163},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>骰子_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2222,1247},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>骰子_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2288,1158},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>骰子_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2201,1158},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>骰子_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2231,1336},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>骰子_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2114,1163},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameInner.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4ce9d129946df59a446587450d7ad5c:1/1$</string>
            <key>textureFileName</key>
            <string>gameInner.png</string>
        </dict>
    </dict>
</plist>
