<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,772},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,28},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,752},{18,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,732},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,712},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,692},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,672},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,652},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,632},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,612},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,467},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{90,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,373},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,399},{48,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,23}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,347},{48,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>wenming.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{198,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,24}}</string>
                <key>sourceSize</key>
                <string>{198,24}</string>
            </dict>
            <key>万人VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,265},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>东1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,550},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>东2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,528},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>东南西北.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,103},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>主场背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>信息提示背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,424},{354,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,44}}</string>
                <key>sourceSize</key>
                <string>{354,44}</string>
            </dict>
            <key>准备.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{175,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{175,67}}</string>
                <key>sourceSize</key>
                <string>{185,75}</string>
            </dict>
            <key>刷新.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,698},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>北1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,506},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>北2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,484},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>千人VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,238},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>南1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,462},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>南2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,440},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>听.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,265},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>圈数.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,321},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>头像框.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,367},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>庄家.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,813},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{40,40}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>房间号码.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,212},{104,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>房间号背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,780},{421,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,40}}</string>
                <key>sourceSize</key>
                <string>{421,40}</string>
            </dict>
            <key>指示灯.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,103},{107,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,35}}</string>
                <key>sourceSize</key>
                <string>{107,35}</string>
            </dict>
            <key>收起.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,612},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>更多.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,526},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>消息.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,440},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>离线.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,179},{65,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,30}}</string>
                <key>sourceSize</key>
                <string>{65,30}</string>
            </dict>
            <key>西1.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,592},{18,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>西2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,572},{18,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>解散.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,727},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,641},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>语音.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,555},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>邀请好友.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,28},{183,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,73}}</string>
                <key>sourceSize</key>
                <string>{185,75}</string>
            </dict>
            <key>默认头像.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,340},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiangImgs.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:694c461008ea2e6bdbfefb2ef48bcd4a:1/1$</string>
            <key>textureFileName</key>
            <string>majiangImgs.png</string>
        </dict>
    </dict>
</plist>
