<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{318,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,1}}</string>
                <key>sourceSize</key>
                <string>{318,1}</string>
            </dict>
            <key>关闭.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1898},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>分享.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1762},{228,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,75}}</string>
                <key>sourceSize</key>
                <string>{230,75}</string>
            </dict>
            <key>发送.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1992},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>大赢家.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1762},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>失败.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,638},{349,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,141}}</string>
                <key>sourceSize</key>
                <string>{349,141}</string>
            </dict>
            <key>宝牌.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,304},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>消息框.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,304},{332,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,397}}</string>
                <key>sourceSize</key>
                <string>{332,397}</string>
            </dict>
            <key>点击表情即可发送！.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,426},{150,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,19}}</string>
                <key>sourceSize</key>
                <string>{150,19}</string>
            </dict>
            <key>牌局结束.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,638},{183,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,38}}</string>
                <key>sourceSize</key>
                <string>{183,38}</string>
            </dict>
            <key>牌局结束背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,426},{1334,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,80}}</string>
                <key>sourceSize</key>
                <string>{1334,80}</string>
            </dict>
            <key>结算信息背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{300,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,500}}</string>
                <key>sourceSize</key>
                <string>{300,500}</string>
            </dict>
            <key>结算背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,500}}</string>
                <key>sourceSize</key>
                <string>{1080,500}</string>
            </dict>
            <key>继续.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1762},{228,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,73}}</string>
                <key>sourceSize</key>
                <string>{230,75}</string>
            </dict>
            <key>胜利.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,781},{349,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,136}}</string>
                <key>sourceSize</key>
                <string>{349,136}</string>
            </dict>
            <key>表情.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1898},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>表情框.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{274,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,205}}</string>
                <key>sourceSize</key>
                <string>{274,205}</string>
            </dict>
            <key>输入.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1762},{233,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,50}}</string>
                <key>sourceSize</key>
                <string>{233,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_new.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7606e58a50459cc312f7ecfdcdeee148:1/1$</string>
            <key>textureFileName</key>
            <string>majiang_new.png</string>
        </dict>
    </dict>
</plist>
