<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>吃.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,153},{156,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,145}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>听.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,159},{163,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,152}}</string>
                <key>sourceSize</key>
                <string>{163,152}</string>
            </dict>
            <key>杠.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{164,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,143}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>碰.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{148,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,149}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>胡.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>蛋.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,154}}</string>
                <key>sourceSize</key>
                <string>{186,154}</string>
            </dict>
            <key>过.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{111,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,112}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-order-2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e01427fc37cc11da2f5b6d5d03a878b:1/1$</string>
            <key>textureFileName</key>
            <string>game-order-2.png</string>
        </dict>
    </dict>
</plist>
