<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>摸宝.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{444,153}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{444,153}}</string>
                <key>sourceSize</key>
                <string>{450,167}</string>
            </dict>
            <key>点炮.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{448,168}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{448,168}}</string>
                <key>sourceSize</key>
                <string>{450,168}</string>
            </dict>
            <key>自摸.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,168}}</string>
                <key>sourceSize</key>
                <string>{450,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-order.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1141979d8f63f858e71216c52c93e2b1:1/1$</string>
            <key>textureFileName</key>
            <string>game-order.png</string>
        </dict>
    </dict>
</plist>
