<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{122,106}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,67},{122,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,426},{206,226}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,9},{206,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{210,234}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{210,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{196,238}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{196,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{126,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{126,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,826},{124,114}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{124,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,826},{124,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,67},{124,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,826},{124,124}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{124,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,214},{230,210}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{230,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{130,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,62},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,634},{190,210}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{190,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>pong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{196,208}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{196,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pong.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ef0d27b5709ac9833fcef566c222d7$</string>
            <key>textureFileName</key>
            <string>pong.png</string>
        </dict>
    </dict>
</plist>
