<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,496},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,797},{132,106}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,65},{132,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{236,226}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{236,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,260},{234,234}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{234,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{224,238}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{224,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,738},{154,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,64},{154,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,496},{144,118}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{144,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,894},{144,128}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,65},{144,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,651},{144,130}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,64},{144,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{188,230}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{188,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,499},{150,136}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,61},{150,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{228,210}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{228,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{226,208}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,22},{226,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6712122c293bf32a1a7e8a0d3f36770c$</string>
            <key>textureFileName</key>
            <string>win.png</string>
        </dict>
    </dict>
</plist>
