<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,512},{256,238}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chi_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,464},{246,220}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{246,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>chi_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,840},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gang_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,228}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gang_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,518},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gang_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,754},{126,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hu_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hu_glow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,460}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{480,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>peng_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>peng_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,260},{256,250}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>peng_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,712},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ting_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_glow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{236,256}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ting_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,840},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang-active.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dfe117611e3dcf4e8413c992a320aba:1/1$</string>
            <key>textureFileName</key>
            <string>majiang-active.png</string>
        </dict>
    </dict>
</plist>
