<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,496},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,468},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,440},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,412},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,384},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,356},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,328},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,300},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,24},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2011,2},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,46},{252,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,36}}</string>
                <key>sourceSize</key>
                <string>{252,36}</string>
            </dict>
            <key>东.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,806},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>东0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,779},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>北.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,752},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>北0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,725},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>南.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,268},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>南0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,268},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>吃.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1352},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>吃1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,725},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,165}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>听.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1223},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>听1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,513},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,166}</string>
            </dict>
            <key>听2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,230},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>头像框.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1645},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>宝牌.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,546},{234,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,300}}</string>
                <key>sourceSize</key>
                <string>{234,300}</string>
            </dict>
            <key>宝牌_底部.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,36},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>庄.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>房间房号.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{671,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{671,32}}</string>
                <key>sourceSize</key>
                <string>{671,32}</string>
            </dict>
            <key>手机信号背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,188},{142,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,40}}</string>
                <key>sourceSize</key>
                <string>{142,40}</string>
            </dict>
            <key>托管.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1801},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>拉出栏.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1719},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>时间方位.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1923},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>杠.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,782},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>杠1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,713},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,165}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>桌布.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1334,750}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,750}}</string>
                <key>sourceSize</key>
                <string>{1334,750}</string>
            </dict>
            <key>点炮UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{984,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{984,223}}</string>
                <key>sourceSize</key>
                <string>{984,223}</string>
            </dict>
            <key>碰.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,782},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>碰1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,546},{210,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,165}}</string>
                <key>sourceSize</key>
                <string>{210,165}</string>
            </dict>
            <key>紫色牌面.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1602},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,119}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>绿色牌面.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1481},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,119}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>聊天.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1563},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>胡.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,782},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>胡1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,937},{284,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,265}}</string>
                <key>sourceSize</key>
                <string>{284,265}</string>
            </dict>
            <key>蛋.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,782},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,114}}</string>
                <key>sourceSize</key>
                <string>{127,114}</string>
            </dict>
            <key>蛋1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,300},{211,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,166}}</string>
                <key>sourceSize</key>
                <string>{211,166}</string>
            </dict>
            <key>西.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,833},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>西0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,268},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>解散.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1481},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>设置.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1914},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>语音.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1832},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>语音hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1914},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>财神-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,880},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>轮到右家.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,782},{36,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,95}}</string>
                <key>sourceSize</key>
                <string>{36,95}</string>
            </dict>
            <key>轮到对家.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,782},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>轮到左家.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{36,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,95}}</string>
                <key>sourceSize</key>
                <string>{36,95}</string>
            </dict>
            <key>轮到本家.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,230},{95,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,36}</string>
            </dict>
            <key>过.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1723},{107,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,97}</string>
            </dict>
            <key>退出.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1832},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>青色牌面.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1923},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,119}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>麻将桌背景.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,36},{518,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,508}}</string>
                <key>sourceSize</key>
                <string>{518,508}</string>
            </dict>
            <key>黄色牌面.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1923},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,119}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjlmg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeed5728aa56840224d0cefa7d064013:1/1$</string>
            <key>textureFileName</key>
            <string>mjlmg.png</string>
        </dict>
    </dict>
</plist>
